<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.conferencesserve.sys.mapper.InvitationMapper">
    <select id="getInvitationsByUserId" parameterType="Integer" resultType="Invitation">
        SELECT distinct a.*
        FROM invitation AS a, conferences AS b
        WHERE a.conferenceId = b.conferenceId AND b.chair_id = #{userId}
    </select>
</mapper>