<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.conferencesserve.sys.mapper.PaperPCMemberMapper">
    <select id="find" parameterType="Integer" resultType="Boolean">
        SELECT count(*) > 0
        FROM Paper_PCMember
        WHERE PaperID = #{paperId} AND pc_member_id = #{pcMemberId}
    </select>

</mapper>